<!DOCTYPE html>

<html>
    <head>
        <% if (title) { %>
            <title>Strata &raquo; <%= title %></title>
        <% } else { %>
            <title>Strata Web Framework</title>
        <% } %>
        <link rel="stylesheet" type="text/css" href="/reset.css">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" type="text/css" href="/sh_emacs.css">
        <script type="text/javascript" src="/sh_main.min.js"></script>
        <script type="text/javascript" src="/sh_javascript.min.js"></script>
        <script type="text/javascript">
        window.onload = function () {
            var pres = document.getElementsByTagName("pre");
            for (var i = 0; i < pres.length; ++i) {
                pres[i].className = "sh_javascript";
            }

            sh_highlightDocument();
        }
        </script>
    </head>
    <body>
        <div id="wrapper">
            <div id="content">
                <%- content %>
            </div>
            <div id="footer">
                <p id="copyright">Copyright &copy; 2011 Michael Jackson</p>
            </div>
        </div>
    </body>
</html>
