<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Strata Manual Index</title>
        <link rel="stylesheet" type="text/css" href="/reset.css">
        <link rel="stylesheet" type="text/css" href="/chapter-index.css">
    </head>
    <body>
        <h1>Chapters</h1>
        <ol>
            {{#chapters}}
            <li><a href="{{{url}}}" target="content">{{{title}}}</a></li>
            {{/chapters}}
        </ol>
        <p><a href="https://github.com/mjijackson/strata/tree/master/doc" target="_blank">Contribute</a></p>
    </body>
</html>
